<div class="">

    <input
            readonly
            class="latitude"
            value="{{ field_type.value.latitude }}"
            name="{{ field_type.input_name }}[latitude]">

    <input
            readonly
            class="longitude"
            value="{{ field_type.value.longitude }}"
            name="{{ field_type.input_name }}[longitude]">

</div>
