<div class="col-lg-6">
    <div class="input-group">

        <span class="input-group-addon">
            {{ icon('arrows-v') }}
        </span>

        <input
                type="text"
                class="marker_latitude form-control"
                value="{{ field_type.value.marker_latitude }}"
                name="{{ field_type.input_name }}[marker_latitude]">

    </div>
</div>
