<div class="col-lg-6">
    <div class="input-group">

        <span class="input-group-addon">
            {{ icon('arrows-h') }}
        </span>

        <input
                type="text"
                class="marker_longitude form-control"
                value="{{ field_type.value.marker_longitude }}"
                name="{{ field_type.input_name }}[marker_longitude]">

    </div>
</div>
