<div class="input-group">

    <span class="input-group-addon">
        <i class="fa fa-search"></i>
    </span>

    <input
            type="text"
            class="address form-control"
            value="{{ field_type.value }}"
            name="{{ field_type.input_name }}[input]"
            placeholder="{{ trans(field_type.placeholder) ?: '9520 Emerald Walk, Alice Beach, IL, 61013, US' }}">

</div>
