<div class="input-group">

    <span class="input-group-addon">
        {{ icon('search') }}
    </span>

    <input
            type="text"
            class="search form-control"
            value="{{ field_type.value.search }}"
            name="{{ field_type.input_name }}[search]"
            placeholder="{{ trans(field_type.placeholder) ?: '9520 Emerald Walk, Alice Beach, IL' }}">

    <span class="input-group-addon">
        <a href="#" class="fa fa-refresh" data-toggle="refresh"></a>
    </span>

</div>
